<div class="container text-center mt-5 ">
  <h1 class="display-4">Ricerca dell'Album </h1>

  <div class="input-group mt-3">
    <input type="text" #newquery class="form-control" placeholder="Inserisci l'Album">
    <div class="input-group-append">
      <button (click)="submit(newquery)" class="btn btn-dark btn-outline-light">Cerca</button>
    </div>
  </div>
</div>
    
    
    <div *ngIf="results">
        <div *ngIf="!results.albums || results.albums.items.length ==0">
            <div class="container text-center">
                Non sono stati trovati dati per: '{{ query }}'
            </div>
        </div>
        
        <div *ngIf="results.albums &&  results.albums.items.length > 0">
            <div class="container text-center"><h1> Risultati trovati per: '{{ query }}'</h1></div>
            <div class="row">
                <div class="col-md-4" *ngFor="let t of results.albums.items">
                  <div class="card">
                    <img src="{{ t.images[0].url }}" class="mx-auto d-block"  alt="home" width="500" height="500">
                    <div class="card-body text-center">
                      <h5 class="card-title">Album: {{ t.name }} </h5>
                      <p class="card-text"> Artista: {{ t.artists[0].name }} </p>
                    </div>
                    <div class="card-footer text-center d-flex align-items-center justify-content-center">
                      <small class="text-muted">Data di rilascio: {{ t.release_date }}</small>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    