<div class="container text-center mt-5">
  <h1 class="display-4">Ricerca degli Artisti</h1>

  <div class="input-group mt-3">
    <input type="text" #newquery class="form-control" placeholder="Inserisci l'Artista">
    <div class="input-group-append">
      <button (click)="submit(newquery)" class="btn btn-dark btn-outline-light">Cerca</button>
    </div>
  </div>
</div>
    
    
    <div *ngIf="results">
        <div *ngIf="!results.artists || results.artists.items.length ==0">
            <div class="container text-center">
                Non sono stati trovati dati per: '{{ query }}'
            </div>
        </div>
        
        <div *ngIf="results.artists &&  results.artists.items.length > 0">
            <div class="container text-center"><h1> Risultati trovati per: '{{ query }}'</h1></div>
            <div class="row">
                <div class="col-md-4" *ngFor="let t of results.artists.items">
                  <div class="card">
                    <img *ngIf="t.images && t.images.length > 0" src="{{ t.images[0].url }}" class="mx-auto d-block" alt="home" width="400" height="400">
                    <div class="card-body text-center">
                      <h5 class="card-title">Nome: {{ t.name }} </h5>
                      <p class="card-text"> Followers: {{ t.followers.total }} </p>
                      <p class="card-text" *ngIf="t.genres && t.genres.length > 0"> Genere Musicale: {{ t.genres[0] }} </p>
                    </div>
                    <div class="card-footer text-center">
                      <small class="text-muted">Popolaritá: {{ t.popularity }}</small>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
